.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/books-background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .auth-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form .form-control {
    margin-bottom: 15px;
  }
  
  .auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .auth-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .auth-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-links a:hover {
    text-decoration: underline;
  }
  